<div class="changes">
    <div class="headerChanges">
        <span class="glyphicon glyphicon-menu-left returnButton" onclick="history.back()"></span>
        {{category}}
    </div>
</div>

<div id="productsDetail" class="row">
    
    <div class="col-xs-12">
        
        <div class="inner">

            <p class="artDesignation">{{product.designation}}</p>
            <div class="noteAvis" ng-class="{displayNone:!product.note}">
                <span ng-switch="product.stars" class="noteMoy">
                    <span class="notes-moyennes" ng-switch-when="0">
                        <span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=0, 'yellow-star':$index<0}" ng-repeat="nbStars in [0,1,2,3,4]"></span>
                    </span>
                    <span class="notes-moyennes" ng-switch-when="1">
                        <span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=1, 'yellow-star':$index<1}" ng-repeat="nbStars in [0,1,2,3,4]"></span>
                    </span>
                    <span class="notes-moyennes" ng-switch-when="2">
                        <span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=2, 'yellow-star':$index<2}" ng-repeat="nbStars in [0,1,2,3,4]"></span>
                    </span>
                    <span class="notes-moyennes" ng-switch-when="3">
                        <span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=3, 'yellow-star':$index<3}" ng-repeat="nbStars in [0,1,2,3,4]"></span>
                    </span>
                    <span class="notes-moyennes" ng-switch-when="4">
                        <span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=4, 'yellow-star':$index<4}" ng-repeat="nbStars in [0,1,2,3,4]"></span>
                    </span>
                    <span class="notes-moyennes" ng-switch-when="5">
                        <span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=5, 'yellow-star':$index<5}" ng-repeat="nbStars in [0,1,2,3,4]"></span>
                    </span>
                </span>
                <span class="nbAvis" ng-class="{displayNone:!product.avis}">{{nbAvis}} avis</span>
            </div>

            <div class="productBlock">
                <span class="promoTag" ng-class="{displayNone:!product.remise}">
                    <span class="backgroundPromo"><span class="textPromo">PROMO</span></span>
                </span>

                <div class="carouselImagesProduct carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target=".carouselImagesProduct" data-slide-to="{{$index}}" ng-class="{active:$first}" ng-repeat="img in product.imgs"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item" ng-class="{active:$first}" ng-repeat="img in product.imgs">
                            <img ng-src="{{img}}">
                        </div>
                    </div>
                </div>

                <p class="prixProduct">
                    <span class="remiseContainer" ng-class="{displayNone:!product.remise}">
                        <span class="pourcentage">{{product.pourcentage}}%</span>
                        <span class="prixNonRemise">{{product.prixNonRemise}}€</span>
                    </span>
                    <span class="prixTTC">{{product.prixTTC}} €</span>
                </p>

                <div class="addCartProduct">
                    <div class="addCartButton">AJOUTER AU PANIER</div>
                </div>
            </div>

            <div class="descriptionProduct"></div>

            <div class="AvisProduct"></div>

        </div>

    </div>

</div>