<div id="panier_1stStep">

	<div class="panierProductsList row" ng-repeat="product in products">
		<div class="imgContainer col-xs-3">
			<img ng-src="{{product.imgs[0]}}">
		</div>
		<div class="productContentContainer col-xs-9">
			<span class="removeFromPanier"></span>
			<div class="productDesignation">{{product.designation}}</div>
			<div class="productQuantity"></div>
			<div class="productsPrices">
				<span class="remiseGroup" ng-class="{displayNone:!product.remise}">
					<span class="productRemise">{{product.pourcentage}} %</span>
					<span class="productPrixBarre">{{product.prixNonRemiseStr}} €</span>
				</span>
				<span class="productPrixTTC">{{product.prixTTCStr}} €</span>
			</div>
		</div>

	</div>


</div>