/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

 /* header.tpl.html */
 	/* Bouton menu */
#menu-toggle-button {
	position: fixed;
	top: 0;

	z-index: 910;
	width: 54px;
	height: 54px;
}

#menu-toggle-button span {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;

	width: 22px;
	height: 2px;

	background-color: #313C3E;
	transform: translateX(-50%) translateY(-50%);
}

#menu-toggle-button span::before,
#menu-toggle-button span::after {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	display: block;
	width: 22px;
	height: 2px;

	background-color: #313C3E;

	transform: translateY(-6px);
	transition: transform 0.5s;
}

#menu-toggle-button span::after {
	transform: translateY(6px);
}

#menu-toggle-button.menu-icon-cross {
	transition: transform 0.5s;
}

#menu-toggle-button.menu-icon-cross span {
	transition: background 0.3s, transform 0.5s;
}

#menu-toggle-button.menu-icon-cross span::before,
#menu-toggle-button.menu-icon-cross span::after {
	transform-origin: 50% 50%;
}

#menu-toggle-button.menu-icon-cross.is-opened {
	transform: rotate(180deg);
}

#menu-toggle-button.menu-icon-cross.is-opened span,
#menu-toggle-button.menu-icon-cross.is-opened span::before,
#menu-toggle-button.menu-icon-cross.is-opened span::after {
	transition: background-color 0.2s;
	background-color: #FFF;
}

#menu-toggle-button.menu-icon-cross.is-closed span,
#menu-toggle-button.menu-icon-cross.is-closed span::before,
#menu-toggle-button.menu-icon-cross.is-closed span::after {
	transition: background-color 1.5s;
	background-color: #313C3E;
}

#menu-toggle-button.menu-icon-cross.is-opened span {
	background: transparent;
}

#menu-toggle-button.menu-icon-cross.is-opened span::before {
	transform: translateY(0) rotate(45deg);
}

#menu-toggle-button.menu-icon-cross.is-opened span::after {
	transform: translateY(0) rotate(-45deg);
}

	/* logo Octave */
.pull-left #logo {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(37px) translateY(-13%);
}

.pull-left #logo .logoImage {
	width: 95%;
}

	/* Boutons pull-right */
#buttonsPullRight .buttonContainer {
	position: fixed;
	top: 0px;

	height: 50px;
	width: 40px;
	padding-left: 7px;
	padding-top: 9px;
}

#buttonsPullRight .buttonRight {
	height: 30px;
	width: 30px;

	background-image: url(../img/octave/icons.png);
	background-repeat: no-repeat;
	background-size: 80%;
}

#buttonsPullRight .buttonCartContainer {
	right: 0px;
}

#buttonsPullRight .buttonCart {
	background-position: 0 82%;
}

#buttonsPullRight .buttonAccContainer {
	right: 40px;
}

#buttonsPullRight .buttonAcc {
	background-position: 0 53%;
}

#buttonsPullRight .buttonMagContainer {
	right: 80px;
}

#buttonsPullRight .buttonMag {
	background-position: 0 25%;
}

/* layout.tpl.html */
	/* Bar de recherche */
#ribbon {
	background-color: #313C3E;
	height: 55px;

	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;

	border-bottom: none;
}

#ribbon #homeSearchbar .buttonContainer {
	background-color: #FFF;
	width: 10%;
	height: 32px;

	padding-left: 2.5%;
	padding-top: 2%;

	border: 1px solid #313C3E;
	border-right: none;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

#ribbon #homeSearchbar .inputSearch {
	width: 90%;

	margin-left: 10%;
	margin-top: -32px;
	padding-left: 0px;

	border: 1px solid #313C3E;
	border-left: none;
	border-bottom-right-radius: 3px!important;
	border-top-right-radius: 3px!important;
}

#ribbon #homeSearchbar .buttonSearch {
	width: 30px;
	height: 28px;

	background-image: url(../img/octave/icons.png);	
	background-size: 90%;
	background-repeat: no-repeat;
}

#ribbon #homeSearchbar .inputSearch::-webkit-input-placeholder {
	color: #313C3E;
	font-family: open sans;
	font-size: 14px;
}


	/* Général */
body {
	background-color: #F8F8F8;
}

#main {
	padding-bottom: 0px;
	background-color: #F8F8F8;
}

#content {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.noscroll {
	overflow-y: hidden;
}

/* menu.tpl.html */
#menu-panel {
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-y: auto;

	background-color: rgba(255,255,255, 0.96);

	font-family: open sans;

	width: 103.5%;
	z-index: 906;

	transform: translateX(-100%);
	transition: transform 0.5s;
}

#menu-panel.opened {
	transform: translateX(0%);
}

#menu-panel #menu-interface .menu-content .menu-head {
	text-align: center;
	font-size: 15px;

	width: 104%;
	height: 50px;

	margin-top: 0px;
	margin-bottom: 0px;

	background-color: #313C3E;
	color: #FFF;
	padding-top: 5%;
}

.menu-categories {
	padding-left: 0px;
	width: 104%;
	margin-bottom: 0px;
}

.menu-categories .menu-categorie {
	list-style: none;

	font-size: 13px;
	font-weight: bold;
	color: #313C3E;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 10px;
}

.menu-categories .menu-categorie .menu-fleche {
	color: #a3a3a3;
}

/* angular ng-class */
.menu-categories.main {
	text-transform: uppercase;
}

.menu-categories .menu-categorie.notfirst {
	border-top: 1px solid #efefef;
}

.menu-categories.last .menu-categorie.last {
	border-bottom: 1px solid #efefef;
}

.menu-head .firstHead {
	display: none;
}


 /* home.html */
	/* carousel */
#homeCarousel {
	margin-top: 2px;
}

#homeCarousel img {
	width: 100%;
}

	/* images mises en avant */
#miseEnAvant .miseAvantHome .imageMiseAvant {
	width: 100%;
}

	/* top ventes titre */
#meilleuresVentesHome #paddingTitreMeilleuresVentes {
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 33%;
	padding-right: 33%;
}

#meilleuresVentesHome #paddingTitreMeilleuresVentes #titreMeilleuresVentes {
	text-align: center;

	padding-top: 4%;
	padding-bottom: 4%;

	border: 2px solid #313C3E;
	border-left: none;
	border-right: none;
}

#meilleuresVentesHome #paddingTitreMeilleuresVentes #titreMeilleuresVentes #textTitreMeilleuresVentes {
	color: #313C3E;
	font-family: open sans;
	font-size: 115%;
	text-transform: uppercase;
	font-weight: bold;

	margin-bottom: 0px;
}

	/* images top ventes */
#meilleuresVentesHome .articleMeilleureVente .imageArticle {
 	width: 80%;
 	padding-bottom: 4%;
}

	/* Top ventes articles */
#meilleuresVentesHome .articleMeilleureVente {
	margin-bottom: 5.185%;
}

#meilleuresVentesHome .articleMeilleureVente .inner {
	text-align: center;
	font-family: open sans;
	color: #313C3E;

	background-color: white;

	border: 1px solid #ececec;
	border-radius: 3px;
	padding-top: 10px;
	box-shadow: 0px 1.5px 1px #d3d3d3;
}

#meilleuresVentesHome .pair .inner{
	margin-left: 10%;
}

#meilleuresVentesHome .impair .inner{
	margin-right: 10%;
}

#meilleuresVentesHome .articleMeilleureVente .artDesignationVente {
	font-size: 15px;
	font-weight: bold;

	margin-bottom: 0px;
	padding-top: 3%;

	border-top: 1px solid #ececec;
}

#meilleuresVentesHome .articleMeilleureVente .prixTTCVente {
	margin-bottom: 3%;
}

#meilleuresVentesHome .articleMeilleureVente .prixTTCVente span {
	color: #FD7454;
	font-size: 14px;
	font-weight: bold;
}

/* navigation.tpl.html */
#left-panel {
	padding-top: 0px;
}