<div id="beacon" ng-controller="beaconController" ng-class="{translateBeacon:showBeacon.doShow}">

	<!-- Button collapse beacon -->
	<div class="flecheHome" ng-click="showBeacon.show()" ng-class="{'menu-open':showBeacon.doShow}">
		<span class="glyphicon fleche-span" ng-class="{'glyphicon-menu-right':showBeacon.doShow, 'glyphicon-menu-left':!showBeacon.doShow}"></span>
	</div>   
	<!-- end Button collapse beacon -->

	<div class="beaconPanel">

		<div class="excluMag">
			<div class="excluMagTitre">
				<span class="traitExclu"></span>
				<p class="exclusivite">Exclusivités</p>
				<p class="magasin">MAGASIN</p>
			</div>
			<p class="nomRayon">Rayon {{rayon.nomRayon}}</p>

			<div class="produitsPromoBeacon">
				<div class="produitBeacon row" ng-repeat="bProd in rayon.products" ng-class="{notLast:!$last}">
					<div class="promTagBeacon">
						<span class="backgroundPromo"><span class="textPromo"><p class="exclu">Exclusivité</p><p class="mag">MAGASIN</p></span></span>
					</div>
					<span class="spanImg col-xs-3"><img ng-src="{{bProd.imgs[0]}}"></span>
					<div class="produitContent col-xs-9">
						<div class="produitName">{{bProd.designation}}</div>
						<div class="produitNote">
							<span ng-switch="bProd.stars" class="noteMoy">
								<span class="notes-moyennes" ng-switch-when="0">
									<span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=0, 'yellow-star':$index<0}" ng-repeat="nbStars in [1,2,3,4,5]"></span>
								</span>
								<span class="notes-moyennes" ng-switch-when="1">
									<span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=1, 'yellow-star':$index<1}" ng-repeat="nbStars in [1,2,3,4,5]"></span>
								</span>
								<span class="notes-moyennes" ng-switch-when="2">
									<span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=2, 'yellow-star':$index<2}" ng-repeat="nbStars in [1,2,3,4,5]"></span>
								</span>
								<span class="notes-moyennes" ng-switch-when="3">
									<span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=3, 'yellow-star':$index<3}" ng-repeat="nbStars in [1,2,3,4,5]"></span>
								</span>
								<span class="notes-moyennes" ng-switch-when="4">
									<span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=4, 'yellow-star':$index<4}" ng-repeat="nbStars in [1,2,3,4,5]"></span>
								</span>
								<span class="notes-moyennes" ng-switch-when="5">
									<span class="glyphicon glyphicon-star" ng-class="{'grey-star':$index>=5, 'yellow-star':$index<5}" ng-repeat="nbStars in [1,2,3,4,5]"></span>
								</span>
							</span>
						</div>
						<div class="produitPrix">
							<span class="produitRemise">{{bProd.pourcentage}} %</span>
							<span class="prixGroup">
								<span class="produitPrixBarre">{{bProd.prixNonRemise}} €</span>
								<span class="produitPrixTTC">{{bProd.prixTTC}} €</span>
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="dejaVus">
					<span class="textDejaVus">produits déjà vus</span>
			</div>
		</div>


		<div class="conseils">
			<div class="conseilsTitre">CONSEILS</div>
			<div class="conseilsContent"></div>
		</div>

	</div>

</div>