<header id="header">

<!-- pulled left: menu + logo -->
<div class="pull-left">

    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-left">
        <span> <a toggle-menu title="Collapse Menu"><i
                class="fa fa-reorder"></i></a> </span>
    </div>
    <!-- end collapse menu -->

    <!-- multiple lang dropdown : find all flags in the flags page -->
    <language-selector></language-selector>
    <!-- end multiple lang -->

    <span id="logo"> <img src="styles/img/octave/logo.png" alt="ConnecShop"> </span>
</div>
<!-- end pulled left: menu + logo -->

<!-- pulled right: button magasin, account, shopping cart -->
<div class="pull-right">
    <button class="btn btn-default">
        <span class="
glyphicon glyphicon-home"></span>
    </button>
    <button class="btn btn-default">
        <span class="
glyphicon glyphicon-user"></span>
    </button>
    <button class="btn btn-default">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </button>

</div>
<!-- end pulled right: buttons -->




</header>