<header id="header">

<!-- pulled left: menu + logo -->
<div class="pull-left">


    <!-- multiple lang dropdown : find all flags in the flags page -->
    <language-selector></language-selector>
    <!-- end multiple lang -->

    <span id="logo"> <img class="logoImage" src="styles/img/octave/logo.png" alt="ConnecShop"> </span>
</div>
<!-- end pulled left: menu + logo -->

<!-- pulled right: button magasin, account, shopping cart -->
<div id="buttonsPullRight" class="pull-right">
    
    <div class="buttonMagContainer buttonContainer" onclick="localStorage.clear()">
        <div class="buttonMag buttonRight"></div>
    </div>

    <div class="buttonAccContainer buttonContainer">
        <div class="buttonAcc buttonRight"></div>
    </div>

    <div class="buttonCartContainer buttonContainer" onclick="document.location.hash='#/panier'">
        <div class="buttonCart buttonRight"></div>
    </div>

</div>
<!-- end pulled right: buttons -->




</header>