<div id="menu-panel" class="row" ng-controller="menuController">	
	<div id="menu-interface" class="col-xs-12">

		<div class="menu-content" ng-repeat="menu in menus">
			<h1 class="menu-head">
				<span ng-class="{firstHead:$first}">{{menu.head}}</span>
			</h1>

			<ul class="menu-categories" ng-class="{main:$first, last:$last}">
				<li class="menu-categorie" ng-repeat=" categorie in menu.categories" ng-class="{notfirst:$index, last:$last}">
					{{categorie}}<span class="glyphicon glyphicon-menu-right pull-right menu-fleche"></span>
				</li>
			</ul>
		</div>

	</div>
</div>